access_key = "your_aws_access_key"
secret_key = "your_aws_secret_key"
key_name = "your_aws_key_pair_name"
key_path = "path/to/private/half/of/key_pair.pem"
region = "your_preferred_aws_region (default is us-west-2)"
ami = "aws_ami_id_for_your_nodes (remember, amis are local to AWS regions)"
db_node_size = "size_for_your_db_node (i.e. t2.medium)"
web_node_size = "size_for_your_web_node"
worker_node_size = "size_for_your_worker_node (should be compute heavy, i.e. c5.large)"
ssl_certificate = "path/to/local/ssl_certificate"
ssl_private_key= "path/to/local/ssl_private_key"
ssl_cert_chain = "path/to/local/ssl_cert_chain"
dns_zone_id = "dns_zone_id_for_habitat.sh"
